@model List<Pessoa>
@{
    ViewData["Title"] = "Pessoas";
}
<h1>Listagem de Pessoas</h1>
<h2>@ViewData["TextoDescricao"]</h2>

@foreach (var pessoa in Model)
{
    <p>Id: @pessoa.Id</p>
    <p>Nome: @pessoa.Nome</p>
    <p>Sobrenome: @pessoa.Sobrenome</p>
    <p>Data de Nascimento: @pessoa.DataNascimento</p>
    <br />

    if (pessoa.Sobrenome != "Silva")
    {
        <P>@pessoa.Nome @pessoa.Sobrenome não pertence a família Silva.</P>
    }
}

<p>@ViewData["DataAtual"]</p>

